{% extends 'base.html.twig' %}

{% block title %}Hello TrainingResponseController!{% endblock %}

{% block body %}
<style>
  
</style>

<div class="example-wrapper">
      <h4>json</h4>

   <a class="btn btn-success " href={{ path('app_training_download') }}>Download book</a><br>
   <a class="btn btn-info" href={{path('app_training_register')}}>Get api</a><br>
 
</div>
{% endblock %}
