{% extends 'base.html.twig' %}
 
{% block title %}Dtc formation{% endblock %}

 
{% block body %}
<div class="container">
        <h2 class="text-center mt-5 mb-3">symfony</h2>
        <div class="card">
            <div class="card-header">
                <button class="btn btn-outline-primary" onclick="createProject()"> 
                   Ajouter
                </button>
            </div>
            <div class="card-body">
                <div id="alert-div">
                   
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Age</th>
                            <th>Cin</th>
                            <th>adresse</th>
                            <th>height</th>
                            <th width="240px">Action</th>
                        </tr>
                    </thead>
                    <tbody id="projects-table-body">
                           
                    </tbody>
                       
                </table>
            </div>
        </div>
    </div>
    
    <!-- modal for creating and editing function -->
    <div class="modal" tabindex="-1"  id="form-modal">
        <div class="modal-dialog" >
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Projet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="error-div"></div>
                <form method="POST" action="/user/new">
                    <input type="hidden" name="update_id" id="update_id">
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" class="form-control" id="nom" name="nom">
                    </div>
                     <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input type="text" class="form-control" id="prenom" name="prenom">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" name="age">
                    </div>
                      <div class="form-group">
                        <label for="cin">CIN</label>
                        <input type="number" class="form-control" id="cin" name="cin">
                    </div>
                     <div class="form-group">
                        <label for="adresse">Adresse</label>
                        <input type="text" class="form-control" id="adresse" name="adresse">
                    </div>
                    <div class="form-group">
                       <label for="height">Height</label>
                       <input type="text" class="form-control" id="height" name="height">
                    </div>
                  
                   
                    <button type="submit" class="btn btn-outline-primary mt-3" id="save-project-btn">Enregistrer</button>
                </form>
            </div>
            </div>
        </div>
    </div>
   
    
    <!-- view record modal -->
    <div class="modal" tabindex="-1" id="view-modal">
        <div class="modal-dialog" >
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                 <b>Nom:</b>
                    <p id="nom-info"></p>
                 <b>Prénom:</b>
                    <p id="prenom-info"></p>
                  <b>age</b>
                    <p id="age-info"></p>
                  <b>cin</b>
                    <p id="cin-info"></p>
                  <b>adresse</b>
                    <p id="adresse-info"></p>
                  <b>height</b>
                    <p id="height-info"></p>
            </div>
            </div>
        </div>
    </div>
      
{% endblock %}
   {% block javascripts %}
       {{parent()}}
        <script>
            showAllProjects();
       
        /*
            This function will get all the project records
        */
        function showAllProjects()
        {
 
            $.ajax({
                url: "/user/show-all",
                method: "GET",
                success: function(response) {
                    $("#projects-table-body").html("");
                    let projects = response;
                    for (var i = 0; i < projects.length; i++) 
                    {
                        let showBtn =  '<button ' +
                            ' class="btn btn-outline-info" ' +
                            ' onclick="showProject(' + projects[i].id + ')"><i class="fa fa-eye" style="padding: 5px"></i>' +
                        '</button> ';
                        let editBtn =  '<button ' +
                            ' class="btn btn-outline-success" ' +
                            ' onclick="editProject(' + projects[i].id + ')"><i class="fa fa-edit" style="padding: 5px"></i>' +
                        '</button> ';
                        let deleteBtn =  '<button ' +
                            ' class="btn btn-outline-danger" ' +
                            ' onclick="destroyProject(' + projects[i].id + ')"><i class="fa fa-trash" style="padding: 5px"></i>' +
                        '</button>';
       
                        let projectRow = '<tr>' +
                            '<td>' + projects[i].nom + '</td>' +
                            '<td>' + projects[i].prenom + '</td>' +
                            '<td>' + projects[i].age + '</td>' +
                            '<td>' + projects[i].cin + '</td>' +
                            '<td>' + projects[i].adresse + '</td>' +
                            '<td>' + projects[i].height + '</td>' +
                            '<td>' + showBtn + editBtn + deleteBtn + '</td>' +
                        '</tr>';
                        $("#projects-table-body").append(projectRow);
                    }
       
                       
                },
                error: function(response) {
                    console.log(response.responseJSON)
                }
            });
        }
       
        /*
            check if form submitted is for creating or updating
        */
        $("#save-project-btn").click(function(event ){
            event.preventDefault();
            if($("#update_id").val() == null || $("#update_id").val() == "")
            {
                storeProject();
            } else {
                updateProject();
            }
        })
       
        /*
            show modal for creating a record and 
            empty the values of form and remove existing alerts
        */
        function createProject()
        {
            $("#alert-div").html("");
            $("#error-div").html("");   
            $("#update_id").val("");
            $("#nom").val("");
            $("#prenom").val("");
            $("#age").val("");
            $("#cin").val("");
            $("#adresse").val("");
            $("#height").val("");
            $("#form-modal").modal('show'); 
        }
       
        /*
            submit the form and will be stored to the database
        */
        function storeProject()
        {   
            $("#save-project-btn").prop('disabled', true);
            let data = {
                nom: $("#name").val(),
                description: $("#description").val(),
            };
            $.ajax({
                url: "/user/new",
                method: "POST",
                data: data,
                success: function(response) {
                    $("#save-project-btn").prop('disabled', false);
                    let successHtml = '<div class="alert alert-success" role="alert"><b>Project Created Successfully</b></div>';
                    $("#alert-div").html(successHtml);
                    $("#nom").val("");
                    $("#prenom").val("");
                    $("#age").val("");
                    $("#cin").val("");
                    $("#adresse").val("");
                    $("#height").val("");
                    showAllProjects();
                    $("#form-modal").modal('hide');
                },
                error: function(response) {
                    /*
                    show validation error
                    */
                    console.log(response)
                    $("#save-project-btn").prop('disabled', false);
                    if (typeof response.responseJSON.messages.errors !== 'undefined') 
                    {
                        let errors = response.responseJSON.messages.errors;
                        let descriptionValidation = "";
                        if (typeof errors.description !== 'undefined') 
                        {
                            descriptionValidation = '<li>' + errors.description + '</li>';
                        }
                        let nameValidation = "";
                        if (typeof errors.name !== 'undefined') 
                        {
                            nameValidation = '<li>' + errors.name + '</li>';
                        }
           
                        let errorHtml = '<div class="alert alert-danger" role="alert">' +
                            '<b>Validation Error!</b>' +
                            '<ul>' + nameValidation + descriptionValidation + '</ul>' +
                        '</div>';
                        $("#error-div").html(errorHtml);        
                    }
                }
            });
        }
       
       
        /*
            edit record function
            it will get the existing value and show the project form
        */
        function editProject(id)
        {
             
            $.ajax({
                url: "user/show/" + id,
                method: "GET",
                success: function(response) {
                    let user = response
                    $("#alert-div").html("");
                    $("#error-div").html("");   
                    $("#update_id").val(user.id);
                    $("#nom").val(user.nom);
                    $("#prenom").val(user.prenom);
                    $("#age").val(user.age);
                    $("#cin").val(user.cin);
                    $("#adresse").val(user.adresse);
                    $("#height").val(user.height);
                    
                    $("#form-modal").modal('show'); 
                },
                error: function(response) {
                    console.log(response.responseJSON)
                }
            });
        }
       
        /*
            sumbit the form and will update a record
        */
        function updateProject()
        {
            $("#save-project-btn").prop('disabled', true);
            let data = {
                nom: $("#nom").val(),
                prenom:$("#prenom").val(),
                age:$("#age").val(),
                cin:$("#cin").val(),
                adresse: $("#adresse").val(),
                adresse: $("#height").val(),
            };
            $.ajax({
                url: "/user/edit/" + $("#update_id").val(),
                method: "PUT",
                data: data,
                success: function(response) {
                    $("#save-project-btn").prop('disabled', false);
                    let successHtml = '<div class="alert alert-success" role="alert"><b>Project Updated Successfully</b></div>';
                    $("#alert-div").html(successHtml);
                    $("#nom").val("");
                    $("#prenom").val("");
                    $("#age").val("");
                    $("#cin").val("");
                    $("#adresse").val("");
                    $("#height").val("");
                   
                    showAllProjects();
                    $("#form-modal").modal('hide');
                },
                error: function(response) {
                    
                    /*
                    show validation error
                    */
                    console.log(response)
                    $("#save-project-btn").prop('disabled', false);
                    if (typeof response.responseJSON.messages.errors !== 'undefined') 
                    {
                        let errors = response.responseJSON.messages.errors;
                        let adresseValidation = "";
                        if (typeof errors.adresse !== 'undefined') 
                        {
                            adresseValidation = '<li>' + errors.adresse + '</li>';
                        }
                        let nomValidation = "";
                        if (typeof errors.nom !== 'undefined') 
                        {
                            nomValidation = '<li>' + errors.nom + '</li>';
                        }
                        let prenomValidation = "";
                        if (typeof errors.prenom !== 'undefined') 
                        {
                            prenomValidation = '<li>' + errors.prenom + '</li>';
                        }
                        let cinValidation = "";
                        if (typeof errors.cin !== 'undefined') 
                        {
                            cinValidation = '<li>' + errors.cin + '</li>';
                        }
                        let ageValidation = "";
                        if (typeof errors.age !== 'undefined') 
                        {
                            ageValidation = '<li>' + errors.age + '</li>';
                        }
                        let heightValidation = "";
                        if (typeof errors.height !== 'undefined') 
                        {
                            heightValidation = '<li>' + errors.height + '</li>';
                        }
           
                        let errorHtml = '<div class="alert alert-danger" role="alert">' +
                            '<b>Validation Error!</b>' +
                            '<ul>' + nomValidation + prenomValidation + adresseValidation + heightValidation + cinValidation + ageValidation + '</ul>' +
                        '</div>';
                        $("#error-div").html(errorHtml);        
                    }
                }
            });
        }
       
        /*
            get and display the record info on modal
        */
        function showProject(id)
        {
            $("#nom-info").html("");
            $("#prenom-info").html("");
            $("#age-info").html("");
            $("#cin-info").html("");
            $("#adresse-info").html("");
            $("#height-info").html("");
            $.ajax({
                url: "user/show/" + id,
                method: "GET",
                success: function(response) {
                    let user = response
                    $("#nom-info").html(user.nom);
                    $("#prenom-info").html(user.prenom);
                    $("#age-info").html(user.age);
                    $("#cin-info").html(user.cin);
                    $("#adresse-info").html(user.adresse);
                    $("#height-info").html(user.height);
               
                    $("#view-modal").modal('show'); 
                },
                error: function(response) {
                    console.log(response.responseJSON)
                }
            });
        }
       
        /*
            delete record function
        */
        function destroyProject(id)
        {
            $.ajax({
                url: "/user/delete/" + id,
                method: "DELETE",
                success: function(response) {
                    let successHtml = '<div class="alert alert-success" role="alert"><b>Project Deleted Successfully</b></div>';
                    $("#alert-div").html(successHtml);
                    showAllProjects();
                },
                error: function(response) {
                    console.log(response.responseJSON)
                }
            });
        }
   
    </script>
   {% endblock %}